.App {
  text-align: center;
}

.hover1:hover {
  background-color: orange;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Reset styles and set default values */
* {
  margin: 1;
  padding: 1;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: "Reem Kufi", sans-serif !important;
  background-color: #f8d788;
  max-width: 100%;
  overflow-x: hidden;
}

.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0 auto;
}

/* Navbar styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
}


.nav-logo {
  max-width: 100px; /* Adjust the max-width as needed */
}

.nav-logo-container{
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align the logo to the right */
  flex: 1; /* Allow the logo to take up available space on the right */
}

.nav-text-section {
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 2;
}

.nav-primary-heading{
  font-size: clamp(2rem, 5vw, 4rem);
  color: #4c4c4c;
  line-height: 5rem;
  max-width: 600px;
}


.navbar-links-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align the button to the left */
  flex: 1; /* Allow the button to take up available space on the left */
}

.navbar-links-container a {
  margin-bottom: 100px;
  margin-right: 3rem;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  top: 0;
  left: 0;
}

.navbar-primary-button {
  padding: 0.9rem 1.75rem;
  background-color: rgb(234, 234, 234);
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s;
}

.navbar-primary-button:hover {
  background-color: orange;
}

.navbar-cart-icon {
  font-size: 1.15rem;
}

.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}


/* home styles */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  padding-top: 5px;
}

.image-container img {
  height: auto;
  position: absolute;
  right: 120px;
  z-index: -2;
  max-width: 700px;
  top: 180px;
}

.home-text-section {
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  align-items: center;
}

.home-text-heading{
  margin-top: -0.5rem;
  font-size: clamp(1rem, 2.5vw, 2rem);
  color: #4c4c4c;
  line-height: 5rem;
  max-width: 1000px;
}

.home-primary-text {
  margin-top: -0.5rem;
  font-size: clamp(0.5rem, 12.5vw, 1rem);
  color: #4c4c4c;
  line-height: 5rem;
  max-width: 1000px;
}

.home-secondary-button {
  padding: 0.9rem 1.75rem;
  background-color: rgb(234, 234, 234);
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s;
  text-decoration: none;
  margin-top: 5rem;
}

.secondary-button:hover {
  background-color: orange;
}

.home-button-container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.home-button-container a {
  margin: 0 1rem;
  padding: 0.9rem 2.5rem;
  background-color: rgb(234, 234, 234); /* Change the background color */
  color:black; /* Change the text color */
  text-decoration: none;
}

.home-button-container a:hover {
  background-color: orange; /* Change the background color on hover */
}


/* Work section styles */
.work-section-wrapper {
  margin-top: -18rem !important;
  background-color: white;
}

.work-section-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.work-section-top h1 {
  max-width: 700px !important;
}

.work-primary-heading {
  margin-top: -15rem;
  font-size: clamp(1rem, 2.5vw, 2rem);
  color: #4c4c4c;
  line-height: 5rem;
  max-width: 1000px;
}

.work-section-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.work-section-info {
  width: 290px;
  min-height: 350px;
  background-color: white;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  color: #505050;
  margin: 1rem 2rem;
}
.work-section-info h2 {
  margin: 1rem 0rem;
}

.work-section-info p {
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-top: -5rem;
}

.info-boxes-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-section-img {
  width: 100px;
  height: 100px;
}

/* Contact component styles */
.contact-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 6rem 0rem;
}

.contact-primary-heading {
  margin-top: -0.5rem;
  font-size: clamp(1rem, 2.5vw, 2rem);
  color: #4c4c4c;
  line-height: 5rem;
  max-width: 1000px;
}

.contact-form-container {
  background-color: white;
  max-width: 500px;
  width: 50%;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 5rem;
  margin-top: -1rem;
}

.contact-form-container input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  width: 100%;
}


.contact-form-container button {
  padding: 0.5rem 1rem;
  background-color: rgb(234, 234, 234);
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s;
  text-decoration: none;
  margin-top: 0rem;
  width: 100px;
}

.contact-form-container:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.contact-form-container button:hover {
  background-color: orange;
}


/* Footer Section */
.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f8d788;
}



.footer-icons {
  margin-top: 2.5rem;
}

.footer-icons svg {
  font-size: 1.5rem;
  margin-right: 1.25rem;
  color: #585858;
}

.footer-section-two {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-section-columns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  max-width: 95vw;
}


.footer-section-columns span {
  text-align: center;
}  

@media (max-width: 950px) {
  .home-bannerImage-container,
  .about-background-image-container {
    display: none;
  .work-section-img{
    max-width: 100px;
  }
}
}

/* login */

.back-primary-button{
  padding: 0.9rem 1.75rem;
  background-color: rgb(234, 234, 234);
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  color: #000;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s;
}

.back-primary-button:hover {
  background-color: #4c4c4c;
}

.logincontainer{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 200px;
  width: 600;
  background: #f8d788;
  padding-bottom: 30px;
  margin-top: -2rem;
}

.loginheader{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.logintext{
  color: #4c4c4c;
  font-size: 48px;
  font-weight: 700;
}

.underline{
  width: 61px;
  height: 6px;
  background: #4c4c4c;
  border-radius: 9px;
}

.inputs{
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input{
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  background: #eaeaea;
  border-radius: 6px;
}

.input img{
  margin: 0px 30px;
}

.input input{
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}

.forgot-password{
  padding-left: 62px;
  margin-top: 27px;
  color: #797979;
  font-size: 18px;
}

.forgot-password span{
  color: #4c4c4c;
  cursor: pointer;
}

.submit-container{
  display: flex;
  gap: 30px;
  margin: 60px auto;
}

.submit{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: rgb(234, 234, 234);
  background: #4c4c4c;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.gray{
  background: #EAEAEA;
  color: #676767;
}
